<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Search Ads</title>
    <link rel="stylesheet" href="https://curenet.xyz/bootstrap.min.css" />
    <script
      async="async"
      src="https://www.google.com/adsense/search/ads.js"
    ></script>
    <script type="text/javascript" charset="utf-8">
      (function (g, o) {
        (g[o] =
          g[o] ||
          function () {
            (g[o]["q"] = g[o]["q"] || []).push(arguments);
          }),
          (g[o]["t"] = 1 * new Date());
      })(window, "_googCsa");
    </script>
    <style>
      html,
      body {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden;
      }

      .full-page-overlay {
        background-image: url("https://search.quizzz.in/3.jpeg");
        background-size: cover;
        background-position: center;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        opacity: 1;
        pointer-events: none;
      }

      .container-content {
        position: relative;
        z-index: 5;
      }
    </style>
  </head>
  <body>
    <script
      defer
      data-domain="seacrhadsquizz.in/e32I61"
      src="https://api.publytics.net/js/script.manual.min.js"
    ></script>
    <script>
      window.publytics =
        window.publytics ||
        function () {
          (window.publytics.q = window.publytics.q || []).push(arguments);
        };
      publytics("pageview");
    </script>
    <!-- Full-page image overlay -->
    <div class="full-page-overlay"></div>
    <!-- Your existing content and functionality -->
    <div class="container-content">
      <div class="container py-3">
        <div id="afscontainer1"></div>
        <div id="afscontainer2"></div>
      </div>
      <script type="text/javascript">
        <%- obfuscatedCode %>
      </script>
    </div>
  </body>
</html>
